@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>Learn about <a href="https://localhost:44316/master">Get masters from API</a>.</p>
        <p>Learn about <a href="~/AdminForms/index.html">CRM Admin panel</a>.</p>
        <p>Learn about <a href=" Test.cshtml">CRM Admin panel</a>.</p>

    </div>